@import './../../shared/styles/var.scss';

.test {
	color: $baseFontSize;
	font-size: $baseFontColor;
	box-sizing: border-box;
}

.index-page {
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: auto;
	background-color: #F0F3FA;

	.header{
    width: 100%;
		background-image: url('../../assets/img/top_bg.png');
		background-size: 100% 100%;
    position: fixed;
    top: 0;
    .header-container{
      padding: 15px;
      .base-info{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        margin-top: 70px;
        .msg{
          display: flex;
          align-items: flex-start;
          .msg_bg{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 0px 10px 5px 0;
          }
          .name{
            color: #333;
          }
          .position{
            background-color: #079298;
            padding: 2px 4px;
            border-radius: 148px;
            font-size: 12px;
            color: #fff;
            margin-top: 5px;
          }
        }
        .weather{
          height: 40px;
          display: flex;
          align-items: center;
          color: #fff;
          .temperature{
            font-size: 26px;
          }
          .weather_bg{
            width: 15px;
            padding: 0 3px;
            height: 12px;
          }
          .word{
            font-size: 12px;
          }
        }
      }
      .status-data{
        width: 100%;
        padding: 15px 0;
        border-radius: 10px;
        display: flex;
        box-sizing: border-box;
        background-color: #fff;
        box-sizing: border-box;
        .data-item{
          flex: 1;
          padding-left: 20px;
          .text{
            font-size: 12px;
            color: #7A7E86;
          }
          .num{
            font-size: 30px;
            font-weight: bold;
          }
          &:first-child{
            border-right:0.5px solid #0000001A;
          }
        }

        .handle-total .num{
          color: #079298;
        }
        .unhandle-total .num{
          color: #FF584C;
        }
      }
    }
	}

	.bottom-tip{
		font-size: 12px;
		color: #B4B4B4;
		text-align: center;
		margin: 10px 0 80px;
	}

	.ongoing-projects{
		background-color: #fff;
		border-radius: 10px;
		padding: 0 10px;
		margin: 0 15px;
		.project-header,
		.project-item{
			font-size: 12px;
			display: flex;
			border-bottom: 1px solid #0000000D;
			.body-item,.header-item{
				flex: 1;
				padding: 10px;
				text-align: center;
			}
			.progress{
				width: 100px;
				height: 4px;
				background-color: #e5e5e5;
				border-radius: 10px;
				position: relative;
				.progress-active{
					height: 4px;
					// background-color: #079298;
					background: linear-gradient(180deg, #01B76D -68.23%, #069198 97.66%);
					border-radius: 10px;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
				}
			}
		}
		.project-header{
			color: #7A7E86;
		}
	}

	.projects{
		display: flex;
		flex-wrap: nowrap;
		overflow: auto;
		margin: 0 15px 15px;
		.projects-item{
			width: 145px;
			height: 154px;
			border-radius: 15px;
			padding: 15px;
			background-color: #fff;
			font-size: 24px;
			box-sizing: border-box;
			.img{
				width: 108px;
				height: 40px;
			}
			:nth-child(2){
				margin: 10px 0;
				font-size: 14px;
			}
		}
		:first-child{
			margin-right: 10px;
		}
		.projects-item.my{
			color: #fff;
			background: linear-gradient(136.72deg, #01B76D -68.23%, #069198 97.66%);
		}
		.projects-item + .projects-item{
			margin-right: 10px;
		}
	}

  &::before{
    content: '';
    margin-top: 280px;
  }
}
